*{
    margin: 0;
    padding: 0;
}
.titt {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}

.notcontainer{
    margin: 50px 0 0 0;
    width: 100vw;
}

.ticont{
    background-color: blueviolet;
    width: 100%;
}

.txt{
    padding: 30px 30px 30px 30px;
}

p{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

ol{
    margin: 20px 0 0 50px;
}

li{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.ticont > h1{
    font-weight: bold;
    font-size: 50px;
}

.not1 > .ticont > h1 {
    color:  blue;
    position: relative;
    top:110px;
    margin-left: 20px;
}

.not2 > .ticont > h1 {
    background: linear-gradient(black,chartreuse);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
    position: relative;
    top:74%;
    margin-left: 20px;
}

.not3 > .ticont > h1 {
    color: rgb(200, 209, 21);
    position: relative;
    top: 40%;
    margin-left: 20px;
}
.not4 > .ticont > h1 {
    color: #36F5AA;
    position: relative;
    top:82%;
    margin-left: 20px;
}

.not1 > .ticont{
    height: 400px;
    background: url(img/chain.jpg)  no-repeat;
    background-position: 50% 5%;
}

.not2 > .ticont{
    height: 400px;
    background: url(img/vam.jpg) center no-repeat;
    background-position: 50% 25%;
    
}

.not3 > .ticont{
    height: 400px;
    background: url(img/mejores.jpg)  no-repeat;
    background-size: 1920px 1080px ;
}

.not4 > .ticont{
    height: 400px;
    background: url(img/jujut.jpg)  no-repeat;
    background-position: 50% 35%;
    background-size: 1920px 1080px ;

}



